/* Shared page layout */

body {}

.container {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 900px;
    padding: 3rem 2rem;
    margin: 0 auto;
}



.page-header {
    display: flex;
    /*Turns the container into a flex container.*/
    justify-content: center;
    /*Centers content along the main axis.*/
    align-items: center;
    /*Centers content along the cross axis.*/
    flex-direction: column;
    background: rgba(0, 0, 0, 0.45);
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 2rem;
    border-radius: 24px;
    backdrop-filter: blur(6px);
}

.page-header h1 {
    background: rgba(0, 0, 0, 0.6);
}

.page-header p {
    background: rgba(0, 0, 0, 0.45);
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 2rem;
    border-radius: 24px;
    backdrop-filter: blur(6px);
    max-width: 720px;
}

.content-card {
    width: 400px;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 1% 1%;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 24px;
    backdrop-filter: blur(6px);

    /*
    width/max-width
    padding
    margin
    background
    opacity / rgba
    border-radius
    border/shadow/backdrop
    text-color/line-height

    Dark translucent panel
    padding inside
    rounded corners
    limited width
    */
}

.content-card h2 {}

.content-card p {
    /*
    text-width: 600-850px
    */
}